body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: italic, sans-serif;
  scroll-behavior: smooth;
  background-color: #fbf6ef;
}

.navBar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  background-color: #dce0d9;
}

.h1-box {
  padding-left: 20px;
}

.list-div {
  margin-left: auto;
}

.sticky-nav-on {
  position: sticky;
}

ul {
  display: flex;
  align-items: center;

  padding: 10px;
}

li {
  list-style: none;
  margin: 20px;
  color: #000000;
  cursor: pointer;
  border-bottom: #dce0d9 solid 2px;
  transition: all 0.3s ease-in-out;
}

li:hover {
  border-bottom: #000000 solid 2px;
}

#hero-section {
  background-color: #fbf6ef;
}

.hero-image-box {
  height: 500px;
  background-image: url(./images/Restaurant-Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-box {
  padding: 20px 100px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
  letter-spacing: 0.6px;
  line-height: 1.2;
}

#menu-section {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 80px;
}

.menu-h2 {
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.menu-box {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-box:hover {
  transform: scale(1.008);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
    rgba(67, 72, 77, 0.35) 0px -2px 6px 0px inset;
}

.menu-title {
  font-size: 24px;
}

.big {
  justify-self: center;
  align-self: center;
  animation-duration: 2s;
  animation-name: shadowAni;
  animation-iteration-count: infinite;
}

.big-h3 {
  font-size: 28px;
}

@keyframes shadowAni {
  0% {
    box-shadow: none;
  }

  25% {
    transform: scale(1.002);
  }

  50% {
    transform: scale(1.004);
  }

  75% {
    transform: scale(1.006);
  }

  100% {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
      rgba(67, 72, 77, 0.35) 0px -2px 6px 0px inset;
    transform: scale(1.008);
  }
}

.gallery-container {
  max-width: 1200px;
}

.carousel {
  white-space: nowrap;
}

.img-1 {
  background-image: url(./images/Biff-Burger.jpg);
}
.img-2 {
  background-image: url(./images/Brisket-Sandwich.jpg);
}
.img-3 {
  background-image: url(./images/Buttermilk-Crepes.jpg);
}
.img-4 {
  background-image: url(./images/Corned-Beef.jpg);
}
.img-5 {
  background-image: url(./images/Lamb-Stew.jpg);
}
.img-6 {
  background-image: url(./images/Pan-Seared.jpg);
}
.img-7 {
  background-image: url(./images/Roasted-Quails.jpg);
}
.img-8 {
  background-image: url(./images/Sweet-Fennel.jpg);
}

.carousel .img {
  height: 440px;
  object-fit: cover;
  width: calc(100% / 3);
}
