body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: italic, sans-serif;
  scroll-behavior: smooth;
  background-color: #fbf6ef;
  min-height: 100vh;
}

.navBar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  background-color: #dce0d9;
}

.h1-box {
  padding-left: 20px;
}

.list-div {
  margin-left: auto;
}

.sticky-nav-on {
  position: sticky;
}

ul {
  display: flex;
  align-items: center;

  padding: 10px;
}

li {
  list-style: none;
  margin: 20px;
  color: #000000;
  cursor: pointer;
  border-bottom: #dce0d9 solid 2px;
  transition: all 0.3s ease-in-out;
}

li:hover {
  border-bottom: #000000 solid 2px;
}

#hero-section {
  background-color: #fbf6ef;
}

.hero-image-box {
  height: 500px;
  background-image: url(./images/Restaurant-Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-box {
  padding: 20px 100px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
  letter-spacing: 0.6px;
  line-height: 1.2;
}

#menu-section {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 80px;
}

.menu-h2 {
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.menu-box {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-box:hover {
  transform: scale(1.008);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
    rgba(67, 72, 77, 0.35) 0px -2px 6px 0px inset;
}

.menu-title {
  font-size: 24px;
}

.big {
  justify-self: center;
  align-self: center;
}

.big:hover {
  box-shadow: none;
  transform: scale(1);
}

.big-h3 {
  font-size: 28px;
}

.gallery-container {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-h2 {
  position: absolute;
  top: 10px;
}

.mediaScroll {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.img {
  width: 440px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.img:hover {
  box-shadow: rgba(124, 124, 124, 0.25) 0px 50px 100px -20px,
    rgba(150, 150, 150, 0.3) 0px 30px 60px -30px,
    rgba(81, 81, 82, 0.35) 0px -2px 6px 0px inset;
  transform: scale(1.01);
}

.img-1 {
  background-image: url(./images/Biff-Burger.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-2 {
  background-image: url(./images/Brisket-Sandwich.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-3 {
  background-image: url(./images/Buttermilk-Crepes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-4 {
  background-image: url(./images/Corned-Beef.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-5 {
  background-image: url(./images/Lamb-Stew.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-6 {
  background-image: url(./images/Pan-Seared.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-7 {
  background-image: url(./images/Roasted-Quails.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-8 {
  background-image: url(./images/Sweet-Fennel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#review-section {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

.review-container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.review-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}

.review-text-div p {
  line-height: 1.5;
}

.review-box:hover {
  transform: scale(1.04);
  background-color: #131313;
}
