body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: italic, sans-serif;
  scroll-behavior: smooth;
}

.navBar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.h1-box {
  padding-left: 20px;
}

.list-div {
  margin-left: auto;
}

.sticky-nav-on {
  position: sticky;
}

ul {
  display: flex;
  align-items: center;

  padding: 10px;
}

li {
  list-style: none;
  margin: 20px;
  color: #000000;
  cursor: pointer;
  border-bottom: #ffffff solid 2px;
  transition: all 0.3s ease-in-out;
}

li:hover {
  border-bottom: #000000 solid 2px;
}

.hero-image-box {
  height: 500px;
  background-image: url(./images/Restaurant-Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-box {
  padding: 50px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
  letter-spacing: 0.6px;
  line-height: 1.2;
}

#menu-section {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 80px;
}

.menu-h2 {
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.menu-box {
  padding: 10px;
}

.menu-title {
  font-size: 24px;
}

.big {
  justify-self: center;
  align-self: center;
}

.big-h3 {
  font-size: 28px;
}
