body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: italic, sans-serif;
  scroll-behavior: smooth;
  background-color: #000000;
  min-height: 100vh;
}

.navBar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
}

.h1-box {
  padding-left: 20px;
}

.h1-box h1 {
  padding: 20px;
  background-color: #151515;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.list-div {
  margin-left: auto;
}

.sticky-nav-on {
  position: sticky;
}

ul {
  display: flex;
  align-items: center;
  padding: 10px;
}

li {
  list-style: none;
  margin: 20px;
  color: #000000;
  cursor: pointer;
  border-bottom: #d6d6d6 solid 2px;
  transition: all 0.1s ease;
}

li:hover {
  border-bottom: #000000 solid 2px;
}

[data-active="true"] {
  border-bottom: #000000 solid 2px;
  transform: scale(1.08);
  font-weight: bold;
}

#hero-section {
  background-color: #000000;
  color: #ffffff;
}

.hero-container {
  height: 100vh;
  padding: 100px;
  display: grid;
  grid-template-rows: 1fr 0.4fr 0.8fr;
  row-gap: 20px;
}

.hero-image-box {
  height: 500px;
  border-radius: 10px;
  background-image: url(./images/Restaurant-Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: shadowAni 6s ease infinite;
}

.hero-text-box {
  padding: 20px 100px;
  text-align: center;
}

.welcome-txt-box {
  justify-self: center;
}

.welcome-txt-box span {
  font-size: 58px;
  border-bottom: 2px solid #ffd100;
}

.hero-footer {
  margin-top: auto;
  text-align: center;
  background-color: #2b2b2b8c;
  padding: 5px;
}

@keyframes shadowAni {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: #6b6b6b77 0px 0px 10px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  20% {
    box-shadow: #6b6b6b77 0px 10px 20px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  30% {
    box-shadow: #6b6b6b77 0px 20px 30px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  40% {
    box-shadow: #6b6b6b77 0px 30px 40px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  50% {
    box-shadow: #6b6b6b77 0px 40px 50px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  60% {
    box-shadow: #6b6b6b77 0px 50px 60px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  70% {
    box-shadow: #6b6b6b77 0px 50px 70px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  80% {
    box-shadow: #6b6b6b77 0px 50px 80px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  90% {
    box-shadow: #6b6b6b77 0px 50px 90px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
  100% {
    box-shadow: #6b6b6b77 0px 50px 100px -20px, #2b2b2b 0px 30px 60px -30px,
      #808080 0px -2px 6px 0px inset;
  }
}

.hero-text {
  font-size: 18px;
  letter-spacing: 0.6px;
  line-height: 1.2;
}

#menu-section {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 80px;
}

.menu-h2 {
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.menu-box {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-box:hover {
  transform: scale(1.008);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
    rgba(67, 72, 77, 0.35) 0px -2px 6px 0px inset;
}

.menu-title {
  font-size: 24px;
}

.big {
  justify-self: center;
  align-self: center;
}

.big:hover {
  box-shadow: none;
  transform: scale(1);
}

.big-h3 {
  font-size: 28px;
}

.gallery-container {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-h2 {
  position: absolute;
  top: 10px;
}

.mediaScroll {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.img {
  width: 440px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.img:hover {
  transform: scale(1.01);
}

.img-1 {
  background-image: url(./images/Biff-Burger.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-2 {
  background-image: url(./images/Brisket-Sandwich.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-3 {
  background-image: url(./images/Buttermilk-Crepes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-4 {
  background-image: url(./images/Corned-Beef.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-5 {
  background-image: url(./images/Lamb-Stew.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-6 {
  background-image: url(./images/Pan-Seared.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-7 {
  background-image: url(./images/Roasted-Quails.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-8 {
  background-image: url(./images/Sweet-Fennel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#review-section {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

.review-container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.review-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}

.review-text-div p {
  line-height: 1.5;
}

.review-box:hover {
  transform: scale(1.04);
  background-color: #131313;
}

#contact-footer-section {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.img-box {
  width: 440px;
  height: 440px;
  background-image: url(./images/Restaurant-Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.contact-footer-container {
  margin-top: 100px;
  align-self: center;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}

.information-container {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.contact-box p {
  border-bottom: solid 2px #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-box p:hover {
  border-bottom: solid 2px #5a5a5a;
}

.footer {
  align-self: center;
  margin-top: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.footer p {
  cursor: pointer;
  border-bottom: solid 3px #000000;
}

.footer p:hover {
  border-bottom: solid 3px #5a5a5a;
}
